$inuit-enable-layout--tiny: true;
$inuit-enable-layout--small: true;
$inuit-enable-layout--large: true;
$inuit-enable-layout--huge: true;
$inuit-enable-layout--flush: true;
$inuit-enable-layout--rev: true;
$inuit-enable-layout--middle: true;
$inuit-enable-layout--bottom: true;
$inuit-enable-layout--full: true;
$inuit-enable-layout--right: true;
$inuit-enable-layout--center: true;
$inuit-enable-layout__item--full: true;
$inuit-enable-layout__item--center: true;
$inuit-enable-layout__item--bottom: true;
$inuit-enable-margins: true;
$inuit-enable-margins--none: true;
$inuit-enable-paddings--none: true;
$inuit-enable-paddings: true;
$inuit-enable-paddings--tiny: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-btn--bare: true;
// Settings
@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";
@import "inuit-responsive-settings/_settings.responsive.scss";
// Tools
@import "px-functions-design/_tools.functions.scss";
@import "px-mixins-design/_tools.mixins.scss";
@import "inuit-responsive-tools/_tools.responsive.scss";
// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";
// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";
@import "px-typography-design/_base.typography.scss";
// Meta
@import "px-meta-lists-design/_meta.lists.scss";
// Objects
@import "px-buttons-design/_objects.buttons.scss";
@import "px-layout-design/_objects.layout.scss";
@import "px-box-design/_objects.box.scss";
// Trumps
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-spacing-design/_trumps.spacing.scss";

 :host {
  --px-dropdown-bg-color: var(--asset-template-button-bg-color, transparent);
  --px-dropdown-border-color: var(--asset-template-button-border-color, #59717f);
  --px-dropdown-content-text-color: black;
  --px-dropdown-bg-color--hover: var(--asset-template-button-bg-color, transparent);
  --px-dropdown-bg-color--opened: var(--asset-template-button-bg-color, transparent);
  --px-dropdown-content-background-color: whitesmoke;
  --px-dropdown-content-border-color: whitesmoke;
  --px-dropdown-bg-color--disabled: var(--asset-template-button-bg-color, transparent);
  --px-dropdown-border-color--disabled: var(--asset-template-button-border-color, #59717f);
}

.px-dropdown-chevron-0 {
  color: white;
}

.template-container {
  border: 1px solid var(--asset-template-border-color, #59717f);
  margin: 20px;
  min-height: 200px;
  background-color: var(--asset-template-bg-color, #2c404c);
}

.template-container .header,
.template-container .action-container {
  padding: 10px 20px;
  border-bottom: 1px solid var(--asset-template-border-color, #59717f);
}

.content-container {
  padding: 30px;
  color: var(--asset-template-text-color, #b6c3cc);
}

.title {
  color: var(--asset-template-text-color, #b6c3cc);
}

.text-input {
  height: 30px;
  background-color: var(--asset-template-input-bg-color, transparent);
  border: 1px solid var(--asset-template-input-border-color, #59717f);
  padding-left: 10px;
  padding-right: 10px;
  color: var(--asset-template-text-color, #b6c3cc);
  width: 300px;
}

.checkbox-input {
  height: 20px;
  width: 20px;
  margin: 0;
  vertical-align: middle;
}

.content-row {
  line-height: 30px;
  margin: 5px 0;
}

.asset-view {
  border: 1px solid var(--asset-template-border-color, #59717f);
  margin-bottom: 30px;
  overflow: auto;
}

.btn-action,
.btn-action:hover,
.btn-action:focus {
  background-color: var(--asset-template-button-bg-color, transparent);
  color: var(--asset-template-button-text-color, #b6c3cc);
  width: 100%;
  // border-color:  ;
  border: 1px solid var(--asset-template-button-border-color, #59717f);
  outline: 0;
  box-shadow: 0;
}

.content {
  position: relative;
}

.content .back-drop {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: var(--asset-template-bg-color, #2c404c);
}

.back-drop-message {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: var(--asset-template-text-color, #b6c3cc);
}

#upload {
  display: none;
}
