<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html" />
<link rel="import" href="../../bower_components/px-asset-view/px-asset-view.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-file-upload/px-file-upload.html"/>
<link rel="import" href="../../bower_components/px-popover/px-popover.html"/>

<link rel="import" href="asset-template-view-styles.html">
<dom-module id="asset-template-view">
  <template>
    <style include="asset-template-view-styles">
      px-dropdown ::shadow #textWrap,
      px-dropdown ::shadow #trigger {
        color: var(--asset-template-button-text-color, #b6c3cc);
      }

      px-popover {
        --px-popover-max-width: auto;
      }

    </style>
    <iron-ajax id="getTemplateAjax" url="{{getTemplateEndpoint}}" loading="{{loading}}" handle-as="json" on-response="_handleTemplates">
    </iron-ajax>
    <iron-ajax id="saveTemplateAjax" url="{{saveTemplateEndpoint}}" method="POST" loading="{{loading}}" handle-as="json" on-response="_handleSaveTemplate">
    </iron-ajax>
    <iron-ajax id="createAssetAjax" url="{{createAssetEndpoint}}" method="POST" loading="{{loading}}" debounce-duration="300">
    </iron-ajax>
    <div class="template-container">
      <div class="header">
        <div class="title">
          <h2>{{headerTitle}}</h2>
        </div>
      </div>
      <div class="action-container">
        <div class="layout layout--center">
          <div class="layout__item u-1/4">
            <px-dropdown disabled="{{loading}}" on-px-dropdown-value-changed="_dropdownChanged" display-value="Select Template">
              <px-dropdown-content class="px-dropdown-content" max-cont-character-width="10" items='{{templates}}'>
              </px-dropdown-content>
            </px-dropdown>
          </div>
          <div class="layout__item u-1/4">
            <div style="position: relative;">
              <button class="btn btn-action" id='create-btn' type='button' name='button'>Create Asset</button>
              <px-popover id="fileUploadPopover" enhanced="true"
                          orientation="bottom"
                          position="relative"
                          for="create-btn"
                          enhanced="true">
                <div class="popover-content">
                  <div id="file-upload-container">
                    <px-file-upload id="dataFile" message="Upload CSV data"  accept=".csv"></px-file-upload>
                    <px-file-upload id="templateFile" message="Upload JSON template"  accept=".json"></px-file-upload>
                  </div>
                  <button style="margin-top: 1em" class="btn btn-action-popup" on-tap="_createAsset">Submit</button>
                </div>
              </px-popover>
            </div>
          </div>
          <div class="layout__item u-1/4">
            <div style="position: relative;">
              <button class="btn btn-action" id="save-btn">Save Template</button>
              <px-popover enhanced="true"
                          orientation="bottom"
                          position="relative"
                          for="save-btn"
                          enhanced="true">
                <div>
                  <button class="btn btn-action-popup" action="create" on-tap="_saveTemplate">Create Template</button>
                  <br/>
                  <button style="margin-top: 1em" class="btn btn-action-popup" action="edit" on-tap="_saveTemplate">Edit Template</button>
                </div>
              </px-popover>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <template is="dom-if" if="{{loading}}">
          <div class="back-drop">
            <div class="back-drop-message">
              <i class="fa fa-circle-o-notch fa-spin"></i>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </template>
        <div class="content-container">
          <div class="layout layout--center content-row">
            <div style="text-align: right;" class="layout__item u-1/4">Name</div>
            <div class="layout__item u-1/2">
              <input class="text-input" id="name" type="text" value="{{currentTemplate.name::input}}" />
            </div>
          </div>
          <div class="layout layout--center content-row">
            <div style="text-align: right;" class="layout__item u-1/4">Description</div>
            <div class="layout__item u-1/2">
              <input class="text-input" id="description" type="text" value="{{currentTemplate.description::input}}" />
            </div>
          </div>
          <div class="layout layout--center content-row">
            <div style="text-align: right;" class="layout__item u-1/4">Read Only</div>
            <div class="layout__item u-1/2">
              <input class="checkbox-input" type="checkbox" checked="{{currentTemplate.readOnly::change}}" />
            </div>
          </div>
        </div>
        <div>
          <div class="layout layout--center">
            <div class="layout__item u-5/6 asset-view">
              <px-asset-view data-type="template" raw-data=''></px-asset-view>
            </div>
          </div>
        </div>
      </div>
    </div>
    </px-view-header>
  </template>
  <script>
    Polymer({
      is: 'asset-template-view',
      properties: {
        headerTitle: {
          type: String
        },
        getTemplateEndpoint: {
          type: String
        },
        saveTemplateEndpoint: {
          type: String
        },
        createAssetEndpoint: {
          type: String
        },
        loading: {
          type: Boolean,
          value: false
        },
        templates: {
          type: Array
        },

        currentTemplate: {
          type: Object,
          value: {
            name: '',
            description: '',
            readOnly: false
          }
        },

        templateData: {
          type: Array
        }
      },
      ready: function () {
        this.refresh();
      },

      refresh: function () {
        this.$.getTemplateAjax.generateRequest();
      },

      _dropdownChanged: function (evt) {
        var index = evt.detail.key;
        this.set('currentTemplate', JSON.parse(JSON.stringify(this.templateData[index])));
        document.querySelector('px-asset-view').rawData = this.templateData[index];
      },

      _saveTemplate: function (e) {
        var nodes = document.querySelector('px-asset-view').exportJsonData();
        var template = this.get('currentTemplate');
        template["nodes"] = nodes.nodes;
        if (this._validate()) {
          if (e.target.getAttribute('action') === 'create') delete template.id;
          console.log(JSON.stringify(template, null, '    '));
          this.$.saveTemplateAjax.body = template;
          this.$.saveTemplateAjax.generateRequest().completes.then((function(e) {
            this.refresh();
          }).bind(this));
        }
      },

      _isValidateTemplate: function (template) {
        var requiredProps = ['name', 'description', 'readOnly'],
          keys = [];
        for (var prop in template) {
          if (template[prop].length == 0) return false;
          keys.push(prop);
        }

        return requiredProps.every(function (val) {
          return keys.indexOf(val) >= 0;
        });
      },

      _handleTemplates: function (res) {
        var templates = res.detail.response;
        this.set('templateData', templates);
        this.set('templates', templates.map((v, i) => ({
          val: v.name,
          key: i
        })));
      },

      _validate: function () {
        var isValid = true;
        if (this.$.name.value.trim().length == 0) {
          isValid = false;
          this._toggleAlert('name');
        }
        if (this.$.description.value.trim().length == 0) {
          isValid = false;
          this._toggleAlert('description');
        }
        return isValid;
      },

      _toggleAlert: function (name) {
        this.$$('#' + name).style.borderColor = '#e53838';
        this.$$('#' + name).style.boxShadow = '0 0 10px #e53838';

        this.async(function () {
          this.$$('#' + name).style.borderColor = '';
          this.$$('#' + name).style.boxShadow = '';
        }.bind(this), 1000);
      },

      _createAsset: function() {

        var dataFile = this.$.dataFile.files;
        var templateFile = this.$.templateFile.files;

        if (dataFile.length === 0 || templateFile.length === 0) {

          this.$$('#file-upload-container').style.borderColor = '#e53838';
          this.$$('#file-upload-container').style.boxShadow = '0 0 10px #e53838';

          this.async(function () {
            this.$$('#file-upload-container').style.borderColor = '';
            this.$$('#file-upload-container').style.boxShadow = '';
          }.bind(this), 1000);

          return;

        }

        var formData = new FormData();
        formData.append('template', templateFile[0]);
        formData.append('assetdata', dataFile[0]);
        this.$.createAssetAjax.body = formData;
        this.$.createAssetAjax.generateRequest();
        this.$.fileUploadPopover.hide();

      }

    });

  </script>
</dom-module>
