<link rel="import" href="dashboards-view-styles.html">

<link rel="import" href="../dt-engine-map/dt-engine-map.html">
<link rel="import" href="../dt-knowledge-map/dt-knowledge-map.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/stomp-client/stomp-client.html">

<dom-module id="dashboards-view">
  <template>
    <style include="dashboards-view-styles"></style>
    <!--Get all engines on Asset-->
    <iron-ajax
      id="engineIronAjax"
      url="/predix-api/predix-asset/engine"
      on-response="handleEngineResponse"
      auto>
    </iron-ajax>

    <!--Get Engine which has fail sparkplug -->
    <iron-ajax
      id="failEngineRequest"
      on-response="handleFailEngine">
    </iron-ajax>

    <!--Get all engines affected by cutOn property-->
    <iron-ajax
      id="affectedEngineRequest"
      on-response="handleAffectedEngineRequest">
    </iron-ajax>

    <!--Get Sparkplug by Gaziru Id-->
    <iron-ajax
      id="sparkPlugRequest">
    </iron-ajax>

    <div id="filterPanel">
      <ul class="list-ui">
        <template is="dom-repeat" id='navList' items="{{_navItems}}" >
          <li class="list-ui__item"><div on-click="onNavClick" data={{item}} class$="{{item.clazz}}">{{item.title}}</div></li>
        </template>
      </ul>
    </div>

    <template is="dom-if" if="[[!_knowledgeMapClicked]]">
      <dt-engine-map engines="{{_computedEngines}}" ></dt-engine-map>
    </template>

    <template is="dom-if" if="[[_knowledgeMapClicked]]">
      <dt-knowledge-map engines="{{affectedEngines}}"></dt-knowledge-map>
    </template>

  </template>
  <script>
    Polymer({
      is: 'dashboards-view',
      properties: {
        _navItems: {
          type: Array,
          value: [
            {
              title: 'Engines',
              id: 'all',
              action: 'filterTwins',
              clazz: 'hover'
            },
            {
              title: 'Knowledge Map',
              id: 'kmap',
            }
          ]
        },
        engines: {
          type: Array,
          value: function() {
            return [];
          }
        },
        affectedEngines: {
          type: Array,
          value: function() {
            return [];
          }
        },
        _computedEngines: {
          type: Array,
          value: function() {
            return [];
          }
        },

        _knowledgeMapClicked: {
          type: Boolean,
          value: false
        }
      },

      onNavClick: function(e) {
        var _this = this;
        var data = e.target.data;
        _this._knowledgeMapClicked = data.id.includes('kmap');
        this[data.action] && this[data.action](data.id);
        this._navItems.forEach(function(e, i) {
          _this.set('_navItems.' + i + '.clazz', '');
          if(e.id === data.id) {
            _this.set('_navItems.' + i + '.clazz', 'hover');
          }
        });

      },

      filterTwins: function (type) {
        console.log(type);
        type != 'all'
          ? this.$.engineIronAjax.params = {filter: 'type=' + type}
          : this.$.engineIronAjax.params = {filter: ''};
      },

      _updateEngines: function(gaziruId) {

        this.$.failEngineRequest.url = '/predix-api/predix-asset/engine?filter=gaziruId=' + gaziruId + '>parent';
        this.$.failEngineRequest.generateRequest().completes.then((function(e) {

          console.log(e)

          e.response[0].flag = true;

          var tempEngines = this.engines.slice();

          this.set('_computedEngines', tempEngines);

          var index = tempEngines.findIndex(function(i) {
            return i.uri === e.response[0].uri;
          });

          this.set('_computedEngines.' + index, e.response[0]);

        }).bind(this));
      },

      handleEngineResponse: function(e) {
        this.set('engines', e.detail.response);
        this.set('_computedEngines', e.detail.response);
      },

      handleFailEngine: function(e) {
        e.detail.response[0].flag = true;
        var tempEngines = this.engines.slice();
        this.set('_computedEngines', tempEngines);
        var index = tempEngines.findIndex(function(i) {
          return i.uri === e.detail.response[0].uri;
        });
        this.set('_computedEngines.' + index, e.detail.response[0]);
      },

      _wsMessageReceived: function(e) {
        console.log('from dashboard');
        seedApp.global.gaziruId = e.detail;
        this._updateEngines(Number(e.detail));
        this.findAffectedEngine(Number(e.detail));
      },

      refresh: function() {
        document.querySelector('stomp-client').addEventListener('message', this._wsMessageReceived.bind(this));
      },

      findAffectedEngine: function(id) {
        this.$.sparkPlugRequest.url = '/predix-api/predix-asset/sparkplug?filter=gaziruId=' + id;
        this.$.sparkPlugRequest.generateRequest().completes.then((function(e) {
          seedApp.global.cutOn = e.response[0].manufacture.cutOn;
          this.$.affectedEngineRequest.url = '/predix-api/predix-asset/engine?filter=manufacture.cutOn=' + e.response[0].manufacture.cutOn + '>parent';
          this.$.affectedEngineRequest.generateRequest();
        }).bind(this));
      },

      handleAffectedEngineRequest: function(e) {
        this.set('affectedEngines', e.detail.response);
      }

    });
  </script>
</dom-module>
