$inuit-enable-list-ui--huge : true;
@import 'px-list-ui-design/_objects.list-ui.scss';


:host {
  height: 100%;
}
google-map {
  min-height: 200px;
  height: 100%;
}

:host {
  iframe {
    width: calc(100% - 250px);
    height: 99%;
  }
}
#filterPanel {
  width: 250px;
  position: absolute;
  z-index: 1000;
  right: 0;
  ul {
    border: none;
    //margin: 0px 20px;
    li {
      //margin: 10px;
      padding: 0;
      text-align: center;
      // text-transform: uppercase;
      border: none;
      div {
        //font-size: 1.2em;
        font-size: 20px;
        font-weight: bold;
        color: #d1d0d8;
        text-decoration: none;
        //padding: 2rem 0rem 2rem 0rem;
        padding: 20px 0 20px 0;
        box-sizing: border-box;
        background: rgba(21, 31, 28, 0.8);
        display: block;
        width: 100%;
        height: 100%;
      }
      div:hover, div.hover {
        background: rgba(21, 90, 102, 0.8);
      }
    }
  }
}