<link rel="import" href="dashboards-view-styles.html">

<link rel="import" href="../dt-engine-map/dt-engine-map.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dashboards-view">
  <template>
    <style include="dashboards-view-styles"></style>

    <iron-ajax
            id="engineIronAjax"
            url="/predix-api/predix-asset/engine"
            last-response="{{engines}}"
            auto>
    </iron-ajax>

    <div id="filterPanel">
      <ul class="list-ui">
        <template is="dom-repeat" id='navList' items="{{_navItems}}" >
          <li class="list-ui__item"><div on-click="onNavClick" data={{item}} class$="{{item.clazz}}">{{item.title}}</div></li>
        </template>
      </ul>
    </div>
    <template is="dom-if" if="[[!_knowledgeGraphClicked]]">
      <dt-engine-map engines="{{engines}}" ></dt-engine-map>
    </template>
    <template is="dom-if" if="[[_knowledgeGraphClicked]]">
      <iframe frameborder="0" src="https://graphdemo-mm.run.aws-usw02-pr.ice.predix.io/#/"></iframe>
    </template>
  </template>
  <script>
    Polymer({
      is: 'dashboards-view',
      properties: {
        _navItems: {
          type: Array,
          value: [
            {
              title: 'Engines',
              id: 'all',
              action: 'filterTwins',
              clazz: 'hover'
            },
            {
              title: 'Knowledge Graph',
              id: 'simulation'
            }
          ]
        },
        engines: {
          type: Array,
          value: []
        },
        _knowledgeGraphClicked: {
          type: Boolean,
          value: false
        }
      },
      onNavClick: function(e) {
        var _this = this;
        var data = e.target.data;
        _this._knowledgeGraphClicked = data.id === 'simulation';
        this[data.action] && this[data.action](data.id);
        this._navItems.forEach(function(e, i) {
          // FIXME: this shit will be removed soon! once polymer fix the issue with array binding
          _this.set('_navItems.' + i + '.clazz', '');
          if(e.id === data.id) {
            _this.set('_navItems.' + i + '.clazz', 'hover');
          }
        });

      },

      filterTwins: function (type) {
        console.log(type);
        type != 'all'
          ? this.$.engineIronAjax.params = {filter: 'type=' + type}
          : this.$.engineIronAjax.params = {filter: ''};
      },

      refresh: function() {
        //this.init();
//        google.maps.event.trigger(_this.$.gmap.map, 'resize');
      }

    });
  </script>
</dom-module>
