<link rel="import" href="engine-view-styles.html" xmlns="http://www.w3.org/1999/html">

<link rel="import" href="/bower_components/highcharts-chart/highcharts-chart.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="sparkplug-view-styles.html">

<dom-module id="sparkplug-view">
  <template>
    <style include="sparkplug-view-styles">
      :host {
        position: relative;
      }
    </style>
    <iron-ajax
            id="sparkplugAjaxRequest"
            last-response="{{sparkplug}}"
            on-response="handleSparkPlugResponse">
    </iron-ajax>
    <div class="layout">
      <div class="layout__item u-1/2 borderless">
        <div class="layout">
          <div class="layout__item u-1/3 borderless">
            <div class="left-side">
              <div class="field-wrapper" style="font-size: 1.4rem">
                <div>Spark Plug</div>
              </div>
              <div class="field-wrapper">
                <div class="key">Manufacturer</div>
                <div class="value">{{sparkplug.0.manufacturer}}</div>
              </div>
              <div class="field-wrapper">
                <div class="key">Thread/Hex Size</div>
                <div class="value">{{sparkplug.0.threadSize}}</div>
              </div>
              <div class="field-wrapper">
                <div class="key">Part Number</div>
                <div class="value">{{sparkplug.0.partNumber}}</div>
              </div>
              <div class="field-wrapper">
                <div class="key">Gap</div>
                <div class="value">{{sparkplug.0.gap}}</div>
              </div>
              <div class="field-wrapper">
                <div class="key">Torque</div>
                <div class="value">{{sparkplug.0.torque}}</div>
              </div>
            </div>
          </div>
          <div class="layout__item u-2/3 borderless">
            <div class="mainImage">
              <img src={{imageUrl}} />
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item u-1/2 borderless">
        <div class="layout" style="padding: 2rem">
          <highcharts-chart type="column" highchart-options="{{chartOptions1}}"></highcharts-chart>
          <template is="dom-if" if="[[isNoticed(gaziruId)]]">
            <i class="warning-icon fa fa-exclamation-triangle" style="vertical-align: middle;"></i> &nbsp; Sparkplug with ID: {{gaziruId}} is found!
          </template>
        </div>
      </div>
    </div>

    <div class="footer" style="position: absolute">
      <a on-click="goToEngine" style="text-decoration: none; color: inherit; cursor: pointer;">
        <i class=" u-mr-- nav-item--icon fa fa-caret-left"></i> Engine</a>
    </div>
  </template>


  <script>
    Polymer({
      is: 'sparkplug-view',
      properties: {

        orderDict: {
          type: Object,
          value: {
            L1: 1,
            L2: 2,
            L3: 3,
            L4: 4,
            L5: 5,
            L6: 6,
            R1: 7,
            R2: 8,
            R3: 9,
            R4: 10,
            R5: 11,
            R6: 12
          }
        },

        oldGaziruIdIndex: {
          type: Number,
          value: -1
        },

        gaziruId: {
          type: Number,
          value: function() {
            return Number(seedApp.global.gaziruId);
          }
        },

        imageUrl: {
          type: Object,
          value: function () {
            return "/images/sparkplug-outline.png";
          }
        },

        chartOptions1: {
          type: Object,
          value: {
            chart: {
              backgroundColor: 'transparent'
            },
            legend: {
              enabled: false
            },
            tooltip: {
              formatter: function() {
                return '<b>Rod Type: </b>' + this.point.manufacture.rodType + '<br/>'
                  + '<b>Type: </b>' + this.point.manufacture.type + '<br/>'
                  + '<b>Supplier: </b>' + this.point.manufacture.supplier + '<br/>'
                  + '<b>Milling Machine: </b>' + this.point.manufacture.cutOn + '<br>'
                  + '<b>Install Date: </b>' + this.point.manufacture.installDate + '<br/>'
                  + '<b>Operator: </b>' + this.point.manufacture.operator + '<br/>';
              }
            },
            title: {
              text: ''
            },
            yAxis: {
              max: 1000,
              min: 0,
              lineWidth: 1,
              gridLineWidth: 1,
              tickInterval: 200,
              gridLineColor: 'rgb(54,76,89)',
              title: {
                text: 'Hours',
                style: {
                  color: 'rgb(132, 151, 163)'
                }
              },
              tickWidth: 1,
              labels: {
                style: {
                  color: 'rgb(132, 151, 163)'
                }
              }
            },
            xAxis: {
              lineWidth: 1,
              tickWidth: 1,
              title: {
                text: 'Gaziru ID - Bracket position'
              },
              labels: {
                style: {
                  color: 'rgb(132, 151, 163)'
                }
              },
              categories: []
            },
            plotOptions: {
              column: {
                stacking: 'normal',
                borderWidth: 0
              }
            },
            series: [{
              data: [{
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }, {
                color: 'rgb(50, 115, 22)',
                y: 0
              }]
            }]
          }
        }
      },

      refresh: function() {

        document.querySelector('stomp-client').addEventListener('message', this._wsMessageReceived.bind(this));

        var chart = document.querySelector('highcharts-chart')._chart;
        if (chart && this.oldGaziruIdIndex !== -1) {
          chart.series[0].data[this.oldGaziruIdIndex].update({color: 'rgb(50, 115, 22)'}, true);
        }
        this.$.sparkplugAjaxRequest.url = '/predix-api/predix-asset/sparkplug?filter=parent=/engine/' + window.location.hash.split('/')[2];
        this.$.sparkplugAjaxRequest.generateRequest();
      },

      goToEngine: function() {
        seedApp.setRoute('engine/' + window.location.hash.split('/')[2]);
      },

      handleSparkPlugResponse: function(e) {
        var chart = document.querySelector('highcharts-chart')._chart;

        e.detail.response.sort((function(a, b) {
          return this.orderDict[a.location] - this.orderDict[b.location];
        }).bind(this));

        e.detail.response.forEach(function(e, i) {
          e.y = Number(e.deprivedHours);
          chart.series[0].data[i].update(e, false);
        });

        chart.xAxis[0].setCategories(e.detail.response.map(function(r) {
          return r.gaziruId + ' - ' + r.location;
        }), true);

        if (this.isNoticed(seedApp.global.gaziruId)) {
          this.updateColorById(seedApp.global.gaziruId);
        }
      },

      updateColorById: function(id) {
        var chart = document.querySelector('highcharts-chart')._chart;
        var index = -1;
        chart.xAxis[0].categories.forEach(function(c, i) {
          if (c.indexOf(id+ ' -') !== -1) {
            index = i;
          }
        });
        if (index !== -1) {
          if (this.oldGaziruIdIndex >= 0) chart.series[0].data[this.oldGaziruIdIndex].update({color: 'rgb(50, 115, 22)'}, true);
          chart.series[0].data[index].update({color: 'rgb(50, 50, 122)'}, true);
          this.oldGaziruIdIndex = index;
        }
      },

      _wsMessageReceived: function(e) {
        console.log('from sparkplug');
        this.gaziruId = Number(e.detail);
        seedApp.global.gaziruId = e.detail;
        this.updateColorById(Number(e.detail));
      },

      isNoticed: function(gaziruId) {
        var index = -1;
        var chart = document.querySelector('highcharts-chart');
        if (chart) {
          chart = document.querySelector('highcharts-chart')._chart;
          chart.xAxis[0].categories.forEach(function(c, i) {
            if (c.indexOf(gaziruId+ ' -') !== -1) {
              index = i;
            }
          });
        }
        return index !== -1;
      }

    });
  </script>
</dom-module>